{extend name="public/plotBase"} {block name="title"}{$catename}{/block}
<!-- 中间 -->
{block name="container"}
<div class="col-lg-8">
    <div class="row">
        <div class="col-sm-12 col-md-12m">
            <div class="xdd-project-category">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span>筛选:</span> {volist name="codes" id="vo"}
                        <a href="{:url('plot/Index/cate',['catename'=>$catename,'codeType'=>$vo.code_type])}">{$vo.code_type}</a> {/volist} ...
                        <!-- <a class="btn pull-right" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    更多<i class="fa fa-angle-down"></i>
                                  </a>
                        <div class="collapse" id="collapseExample">
                            <div class="well">

                                <a href="#">交互式图表</a>
                                <a href="#">其他</a>
                            </div>
                        </div> -->
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" id="picList">
            {volist name="picList" id="vo"}
            <div class="col-sm-4 col-md-4 xdd-paint-item">
                <a target="_blank" href="{:url('plot/Plot/read',['id'=>$vo.id])}" class="thumbnail">
                    <div class="img-hover">
                        <img src="{$vo.members.pic}" class="img-circle" width="20px" height="20px" />
                        <h3>{$vo.title}</h3>
                        <ul>
                            <li>
                                <p>{$vo.zan_num}</p>点赞</li>
                            <li>
                                <p>{$vo.hits}</p>浏览</li>
                            <li>
                                <p>{$vo.collect_num}</p>收藏</li>
                        </ul>
                    </div>

                    <img style="object-fit: cover;width: 240px;height:160px" src="{$vo.index_pic}">
                    <span class="label label-danger">{$vo.code.code_type}</span>
                </a>
            </div>
            {/volist}
        </div>
        <div class="row" style="margin-top: 30px">
            <div class="col-lg-12">
                <button type="button" id="load-more" class="btn load-more-btn">加载更多</button>
            </div>
        </div>
    </div>

</div>
{/block}

<!-- 底部js -->
{block name="js"}
<script type="text/javascript">
    // 异步请求
    var pageIndex = 2;
    $('#load-more').on('click', function() {
        var btn = $(this);
        btn.html('正在加载<i class="fa fa-spinner fa-spin"></i>');
        pageIndex++;
        $.ajax({
            url: "{:url('plot/Index/list')}",
            type: "post",
            dataType: 'json',
            data: {
                pageIndex: pageIndex,
                cateId: "{:$cateId}",
                keyword: "{:$keyword}",
                codeId: "{:$codeId}"
            },
            success: function(json) {
                btn.html('加载更多');
                var msg = json["rows"];

                var listLength = msg.length;

                if (listLength == 0) {
                    pageIndex--;
                    btn.html('暂无更多数据');
                    //alert(pageIndex);
                } else {
                    for (var i = 0; i < listLength; i++) {
                        var jsonForeach = msg[i];
                        var jsonObjForeach = JSON.parse(JSON.stringify(jsonForeach));
                        var url = "{:url('plot/Plot/read',[id=>'data_id'])}"
                        url = url.replace('data_id', jsonObjForeach["id"]);

                        str = '<div class="col-sm-4 col-md-4 xdd-paint-item">';
                        str = str + '<a target="_blank" href="' + url + '" class="thumbnail">';
                        str = str + '<div class="img-hover"><img src="' + jsonObjForeach['members']['pic'] + '" class="img-circle" width="20px" height="20px" />';
                        str = str + ' <h3>' + jsonObjForeach['title'] + '</h3>';
                        str = str + ' <ul><li><p>' + jsonObjForeach['zan_num'] + '</p>点赞</li><li><p>' + jsonObjForeach['hits'] + '</p>浏览</li><li><p>' + jsonObjForeach['collect_num'] + '</p>收藏</li></ul></div>'
                        str = str + ' <img style="object-fit: cover;width: 240px;height:150px" src="' + jsonObjForeach['index_pic'] + '">';
                        str = str + '<span class = "label label-danger">' + jsonObjForeach['code']['code_type'] + '</span></a></div>'
                        $("#picList").append(str)
                            // btn.parent().parent().before(str);

                    }
                }
            },
        });
    })
</script>

{/block}