{extend name="public/base"} {block name="title"}编辑文章{/block} {block name="header"} {__block__}
<style>
    .w-e-text-container {
        height: 500px !important;
    }
    
    #editor {
        width: 90%
    }
</style>
{/block} {block name="left-sider"}{/block}{block name="right-sider"}{/block}{block name="container"}
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Body -->
            <div class="page-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget radius-bordered">
                            <div class="widget-body">
                                <form action="" class="form-horizontal">
                                    <input type="hidden" name="id" id="id" value="{$articleInfo.id}">
                                    <input type="hidden" name="author_id" id="author_id" value="{:session('admin.id')}">
                                    <div class="form-group">
                                        <label for="title" class="control-label col-sm-1 no-padding-right">文章标题</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="title" name="title" placeholder="文章标题" value="{$articleInfo.title}" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="tags" class="control-label col-sm-1 no-padding-right">文章标签</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="tags" name="tags" placeholder="文章标签" value="{$articleInfo.tags}" />
                                            <span class="help-block">标签以|分隔</span>
                                        </div>
                                    </div>
                                    <input type="hidden" name="author" value="{$Request.session.admin['username']}"></input>
                                    <div class="form-group">
                                        <label for="cateid" class="control-label col-sm-1">所属栏目</label>
                                        <div class="col-sm-6">
                                            <select id="cateid" name="cateid" class="form-control">
                                                <option value="">请选择</option>
                                                {volist name="articleCates" id="vo"}
                                                <option value="{$vo.id}" {if $articleInfo.cateid==$vo.id}selected{/if}>{$vo.catename}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                    </div>
                                    <div style="display:none" class="col-sm-6">
                                        <textarea name="contentin" id="contentin">{$articleInfo.content}</textarea>
                                        <textarea name="contentback" id="contentback"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="editor" class="control-label col-sm-1">文章内容</label>
                                        <div id="editor" class="col-sm-12"> </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-6">
                                            <button type="submit" id="articleEdit" class="btn btn-primary">保存修改</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->

    </div>
    <!-- /Page Container -->


</div>
<!-- Main Container -->
{/block} {block name="js"}
<script type="text/javascript" src="__LIB__/wangEditor/wangEditor.min.js"></script>
<script type="text/javascript" src="__LIB__/wangEditor/wangEditor-fullscreen-plugin.js"></script>
<link rel="stylesheet" href="__LIB__/wangEditor/wangEditor-fullscreen-plugin.css">
<script type="text/javascript">
    $(function() {
        var E = window.wangEditor;
        var editor = new E('#editor');
        var $text1 = $('#contentin');
        var $text2 = $('#contentback');

        //对图片的设置，本地上传
        editor.customConfig.debug = true;
        editor.customConfig.uploadFileName = 'image'; //上传的文件名
        // 或者 var editor = new E( document.getElementById('editor') )
        editor.customConfig.uploadImgServer = "{:url('blog/Article/upload')}"; // 上传图片到服务器
        editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024; //图片的尺寸
        editor.customConfig.uploadImgMaxLength = 5; //最多上传多少
        editor.customConfig.onchange = function(html) {
            // 监控变化，同步更新到 textarea
            $text2.val(html);
        }
        editor.create();
        E.fullscreen.init('#editor');

        editor.txt.html($text1.val());

        // UE.getEditor('content');

        $('#articleEdit').click(function() {
            $text2.val(editor.txt.html());
            $.ajax({
                url: "{:url('blog/Article/edit')}",
                type: "post",
                data: $('form').serialize(),
                dataType: 'json',
                success: function(data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, {
                            icon: 6,
                            time: 2000
                        }, function() {
                            location.href = data.url;
                        });
                    } else {
                        layer.open({
                            title: "文章修改失败",
                            content: data.msg,
                            icon: 5,
                            anim: 5
                        });
                    }
                }
            });

            return false;
        });
    });
</script>
{/block}