 {extend name="public/person_base"} {block name="title"}{$memberInfo.nickname}的名片{/block}{block name="header"} {block name="container"}
<div class="row xdd-block-background">
    <div class="col-lg-6 ">
        <div class="team-card">
            <div class="team-card-up">
                <div class="team-card-head pull-left">
                    <img src="{$memberInfo.pic}" width="100" height="100" class="" />
                </div>
                <div class="team-card-info pull-right">
                    <ul>
                        <li class="team-card-name">{$memberInfo.nickname}<span>个人</span> <span class="fa fa-map-marker">&nbsp;{$memberInfo.province}&nbsp;{$memberInfo.city}</span></li>
                        <li>
                            {volist name="$memberInfo.major|strToArray" id="major"}
                            <span class="label label-default">{$major}</span> {/volist}
                        </li>
                        <li class="team-card-info-description">{$memberInfo.desc}</li>
                    </ul>
                </div>
                <span class="label label-default" style="position: absolute;top: 0px; right: 0px;font-size: 14px;">名片正面</span>
            </div>
        </div>
    </div>
    <div class="col-lg-6 ">
        <div class="team-card">
            <div class="team-card-down" style="transform: rotateY(0deg); -webkit-transform: rotateY(0deg);">
                <div class="team-card-down-table">
                    <table>
                        <tbody>
                            <tr>
                                <td><i class="fa fa-user"></i></td>
                                <td><span>姓名</span></td>
                                <td><b>:</b></td>
                                <td>{$memberInfo.nickname}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-phone-square"></i></td>
                                <td><span>电话</span></td>
                                <td><b>:</b></td>
                                <td>{$memberInfo.phone}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-envelope"></i></td>
                                <td><span>邮箱</span></td>
                                <td><b>:</b></td>
                                <td>{$memberInfo.email}</td>
                            </tr>

                            <tr>
                                <td><i class="fa fa-file"></i></td>
                                <td><span>文章数</span></td>
                                <td><b>:</b></td>
                                <td>{$memberInfo.article_num}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <span class="label label-default" style="position: absolute;top: 0px; right: 0px;font-size: 14px;">名片反面</span>
            </div>
        </div>
    </div>
</div>{/block}