{extend name="public/person_base"} {block name="title"}{$memberInfo.nickname}的收藏{/block}{block name="header"}

<style>
    .person-cate a {
        color: black;
    }
</style>
{/block} {block name="container"} {volist name="collectlist" id="vo"}
<div class="row">
    {if $vo.member_collect.pic!=null}

    <div class="col-lg-3">
        <div class="xdd-blog-img xdd-imgscale">
            <a href="{:url('blog/Article/info',['id'=>$vo.member_collect.id])}" target="_blank"><img src="{$vo.member_collect.pic}" alt="" class=""></a>
        </div>
    </div>
    <div class="col-lg-9">
        {else /}
        <div class="col-lg-12">
            {/if}
            <div class="xdd-blog-text xdd-blog-text-img">
                <h2><a href="{:url('blog/Article/info',['id'=>$vo.member_collect.id])}" target="_blank">{$vo.member_collect.title}</a></h2>
                <p>{$vo.member_collect.desc}...</p>
                <p>
                    <span class="xdd-blog-user"> 
                            <a href="{:url('blog/Member/person',['id'=>$vo.member_collect.members.member_id])}" target="_blank"><img  width="30" height="30" src="{$vo.member_collect.members.pic}" /></a>

                            <h5><a title="{$vo.member_collect.members.nickname}的主页" href="{:url('blog/Member/person',['id'=>$vo.member_collect.members.member_id])}"
                                target="_blank">{$vo.member_collect.members.nickname}</a></h5>
                    </span>
                    <span class="xdd-blog-articleinfo">
                          <i class="" aria-hidden="true"></i>&nbsp;{$vo.member_collect.update_time|dateline}&nbsp;&nbsp;
                          <i class="" aria-hidden="true"></i>&nbsp;浏览{$vo.member_collect.hits}次&nbsp;&nbsp;
                          <i class="fa fa-heart-o" onclick="blogiconClick(this)" style="color: red;"></i>&nbsp;喜欢{$vo.member_collect.zan_num}&nbsp;&nbsp;
                          <i class="fa fa-star-o" onclick="blogiconClick(this)" style="color: red;"></i>&nbsp;收藏{$vo.member_collect.collect_num}&nbsp;&nbsp;
                         
                        </span>
                </p>
            </div>
        </div>
    </div>
    <hr> {/volist}

</div>{/block}