{extend name="public/person_base"} {block name="container"}

<div class="row xdd-block-background xdd-team-detail-introduction">
    <div class="col-lg-12">
        <h1 class="">关于</h1>
        <p>在深度学习中，迁移学习经常被使用，在大数据集上预训练的模型迁移到特定的任务，往往需要保持模型参数不变，而微调与任务相关的模型层。本文主要介绍，使用tensorflow部分更新模型参数的方法。 在深度学习中，迁移学习经常被使用，在大数据集上预训练的模型迁移到特定的任务，往往需要保持模型参数不变，而微调与任务相关的模型层。本文主要介绍，使用tensorflow部分更新模型参数的方法。 在深度学习中，迁移学习经常被使用，在大数据集上预训练的模型迁移到特定的任务，往往需要保持模型参数不变，而微调与任务相关的模型层。本文主要介绍，使用tensorflow部分更新模型参数的方法。</p>
        <p>在深度学习中，迁移学习经常被使用，在大数据集上预训练的模型迁移到特定的任务，往往需要保持模型参数不变，而微调与任务相关的模型层。本文主要介绍，使用tensorflow部分更新模型参数的方法。 在深度学习中，迁移学习经常被使用，在大数据集上预训练的模型迁移到特定的任务，往往需要保持模型参数不变，而微调与任务相关的模型层。本文主要介绍，使用tensorflow部分更新模型参数的方法。 在深度学习中，迁移学习经常被使用，在大数据集上预训练的模型迁移到特定的任务，往往需要保持模型参数不变，而微调与任务相关的模型层。本文主要介绍，使用tensorflow部分更新模型参数的方法。</p>
    </div>
    <div class="col-lg-12">
        <h1 class="">进展</h1>
        <p>在深度学习中，迁移学习经常被使用，在大数据集上预训练的模型迁移到特定的任务，往往需要保持模型参数不变，而微调与任务相关的模型层。本文主要介绍，使用tensorflow部分更新模型参数的方法。 在深度学习中，迁移学习经常被使用，在大数据集上预训练的模型迁移到特定的任务，往往需要保持模型参数不变，而微调与任务相关的模型层。本文主要介绍，使用tensorflow部分更新模型参数的方法。 在深度学习中，迁移学习经常被使用，在大数据集上预训练的模型迁移到特定的任务，往往需要保持模型参数不变，而微调与任务相关的模型层。本文主要介绍，使用tensorflow部分更新模型参数的方法。</p>

    </div>
</div>
{/block}