{include file="public/_head" /}
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">

        <!-- Page Sidebar -->
        {include file="public/_left" /}
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;团队管理
                    </li>
                    <li>团队认证申请列表</li>
                </ul>

            </div>
            <!-- /Page Breadcrumb -->
            <!-- Page Body -->
            <div class="page-body">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget radius-bordered">
                            <div id="table1">
                                <table id="table" name="table" class="table table-striped table-hover table-bordered"></table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->

    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>
{include file="public/_footer" }
</body>
<!--  /Body -->

</html>
<link rel="stylesheet" href="__LIB__/bootstrap-table/bootstrap-table.min.css">
<script src="__LIB__/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__LIB__/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>


<script>
    $(function() {
        //1.初始化Table
        var oTable = new TableInit();
        oTable.Init();

        //2.初始化Button的点击事件
        // var oButtonInit = new ButtonInit();
        // oButtonInit.Init();
    });

    var TableInit = function() {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function() {
            $("#table").bootstrapTable('destroy'); //避免重复执行，需要销毁
            $("#table").bootstrapTable({
                url: "{:url('admin/Team/cert')}",
                method: "post", //请求方式（*）
                toolbar: "#toolbar", //工具按钮用哪个容器
                striped: false, //是否显示行间隔色
                cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true, //是否显示分页（*）
                queryParams: oTableInit.queryParams, //传递参数（*）
                sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1, //初始化加载第一页，默认第一页
                pageSize: 10, //每页的记录行数（*）
                pageList: [10, 20, 30], //可供选择的每页的行数（*）
                search: true, //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                showColumns: true, //是否显示所有的列
                showRefresh: true, //是否显示刷新按钮
                minimumCountColumns: 2, //最少允许的列数
                clickToSelect: true, //是否启用点击选中行
                height: 750, //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "ID", //每一行的唯一标识，一般为主键列
                detailView: false, //是否显示父子表
                columns: [{
                    title: "序号",
                    field: "number",
                    align: "center",
                    colspan: 1,
                    width: 10,
                    formatter: function(value, row, index) {
                        var pageSize = $("#table").bootstrapTable("getOptions").pageSize; //通过table的#id 得到每页多少条
                        var pageNumber = $("#table").bootstrapTable("getOptions").pageNumber; //通过table的#id 得到当前第几页
                        return pageSize * (pageNumber - 1) + index + 1; // 返回每条的序号： 每页条数 *（当前页 - 1 ）+ 序号
                    }
                }, {
                    field: "team_id",
                    title: "团队ID",
                    colspan: 1,
                    width: 20,
                    searchable: true
                }, {
                    field: "member_id",
                    title: "用户id",
                    colspan: 1,
                    width: 20
                }, {
                    field: "teamname",
                    title: "团队名",
                    colspan: 1,
                    width: 50
                }, {
                    field: "boss",
                    title: "团队负责人",
                    colspan: 1,
                    width: 50
                }, {
                    field: "pic",
                    title: "团队头像",
                    colspan: 1,
                    width: 50,
                    formatter: function(value, row, index) {
                        return '<img  src=' + value + ' width="50" height="50" class="img-rounded" >';
                    }
                }, {
                    field: "major",
                    title: "团队研究方向",
                    colspan: 1,
                    width: 50
                }, {
                    field: "province",
                    title: "省份",
                    colspan: 1,
                    width: 50
                }, {
                    field: "institution",
                    title: "组织机构",
                    colspan: 1,
                    width: 50
                },{
                    field: "type",
                    title: "机构类型",
                    colspan: 1,
                    width: 50
                },  {
                    field: "create_time",
                    title: "申请时间",
                    colspan: 1,
                    width: 60

                },
                    {
                    field: "operate",
                    title: "操作",
                    colspan: 1,
                    width: 150,
                    events: operateEvents,
                    formatter: actionFormatter

                }]
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function(params) {
            var temp = {
                //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit, //页面大小
                offset: params.offset
            };
            return temp;

        };

        return oTableInit;
    };

    //操作栏的格式化
    function actionFormatter(row) {
            return [
                '<a class="btn btn-sm btn-success">通过</a>&nbsp<a class="btn btn-sm btn-danger">拒绝</a>',
            ];
    }

    window.operateEvents = {
        'click .btn-success': function(e, value, row) {
            var id = row.team_id;
                $.ajax({
                    url: "{:url('admin/Team/pass')}",
                    type: 'post',
                    data: {
                        id: id
                    },
                    dataType: 'json',
                    success: function(data) {
                        if (data.code == 1) {
                            layer.msg(data.msg, {
                                icon: 6,
                                time: 2000
                            }, function() {
                                $("#table").bootstrapTable('refresh');
                            });
                        } else {
                            layer.open({
                                title: '失败',
                                content: data.msg,
                                icon: 5,
                                anim: 5
                            });
                        }
                    }
                });
        },

        'click .btn-danger': function(e, value, row, index) {
            var id = row.team_id;
            layer.confirm('确定拒绝吗？', {
                title: '拒绝认证',
                icon: 3
            }, function(index) {
                layer.close(index);
                $.ajax({
                    url: "{:url('admin/Team/refuse')}",
                    type: 'post',
                    data: {
                        id: id
                    },
                    dataType: 'json',
                    success: function(data) {
                        if (data.code == 1) {
                            layer.msg(data.msg, {
                                icon: 6,
                                time: 2000
                            }, function() {
                                $("#table").bootstrapTable('refresh');
                            });
                        } else {
                            layer.open({
                                title: '删除评论失败！',
                                content: data.msg,
                                icon: 5,
                                anim: 5
                            });
                        }
                    }
                });
            });

        }
    };
</script>